body {
	background: #141414;
	color: #ffffff;
}
.App{
text-align: center;
}
.App-logo{
    height:40vmin;
    pointer-events: none;
}
.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}